<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Board Write</title>
<link rel="stylesheet" th:href="@{/css/style.css}"></link>
</head>
<body>
	<div class="container">
		<h2>게시판 등록</h2>	<!-- 머릿글 -->
		<h4>
			<font color="blue" th:text="${session['member'].memName}"></font>
			[<font color="blue" th:text="${session['member'].memId}"></font>]
			 환영합니다!
		</h4>
		<form id="frm" name="frm" method="post" action="/board/insertBoard">	<!--  form 안에 있는 value 그대로 실행 -->
			<input type="hidden" name="createId" th:value="${session['member'].memId}">
			<table class="board_detail">
				<tr>
					<td>제목</td>
					<td><input type="text" id="title" name="title"></td>
				</tr>
				<tr>
					<td>작성자</td>
					<td><input type="text" id="writeName" name="writeName" th:value="${session['member'].memName}" readonly></td>
				</tr>
				<tr>
					<td colspan="2">
						<textarea id="content" name="content"></textarea>
					</td>
				</tr>
			</table>
			<input type="submit" id="submit" value="저장" class="btn">	<!-- form 종료 전 input에서 submit 한다 -->
		</form>
	</div>
</body>
</html>